input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 4px;
}

.Dictionary section {
  background-color: rgba(51, 170, 51, 0.1);
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Instruction {
  font-size: 24px;
  text-align: left;
  font-weight: bolder;
  color: #59bfa7;
}
.hints {
  font-size: 12px;
  padding-left: 8px;
  margin-top: 5px;
}
.SearchField {
  text-align: center;
}
